- if @conference.days.count > 1
  .meta-chips.mb-4.ps-day-menu
    - @conference.days.each do |day|
      %a.meta-chip{href: "#day#{day.id}"}
        %i.bi.bi-calendar3
        = l day.start_date, format: :day
